@model VentaSimpleWeb.Models.MantenedorUsuariosModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MantenedorUsuarios/MantenedorUsuarios.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Mantenedor de usuarios</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/CSS/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.min.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/semantic.min.js"></script>

    <script src="~/ScriptsVistas/LogicaMantenedorUsuarios.js"></script>

    <style>
        body {
            width: 100%;
            height: 100%;
            background-image: url();
            background-image: url('../../Recursos/Imagenes/Fondo2.jpg');
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <script>

        var urlObtenerEstablecimientos = '@Url.Action("ObtenerEstablecimientos", "MantenedorUsuarios")';
        var urlInsertarUsuario = '@Url.Action("InsertarUsuario", "MantenedorUsuarios")';
        var urlEliminarUsuario = '@Url.Action("EliminarUsuario", "MantenedorUsuarios")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <br />
    <div>
        @if (Request.Browser.IsMobileDevice)
        {
            <div class="fields">
                <div id="btnAgregarMantenedorNegocio" data-toggle="modal" data-target="#modalMantenedorUsuarios" class="ui green labeled icon button">
                    Agregar usuario
                    <i class="checkmark icon"></i>
                </div>
                <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                @*<div id="btnExportar" class="ui labeled purple icon button" onclick="ExportarExcel();">
                        <i class="table download icon"></i>Exportar a Excel
                    </div>*@
            </div>
            <table class="ui celled striped table">
                <tbody>
                    @foreach (var listaUsuarios in Model.listaUsuarios)
                    {
                        <tr>


                            <td style="width: 10%; word-wrap: break-word; background-color: deepskyblue">
                                <button class="ui icon red button" data-toggle="modal" data-target="#modalEliminarUsuario" value="@listaUsuarios.Id" onclick="PreparaEliminarUsuario(this.value, this);">
                                    <i class="trash icon"></i>
                                </button>
                                @*<button class="ui icon green button" data-toggle="modal" data-target="#modalMantenedorUsuarios" value="@listaUsuarios.Id" onclick="ObtenerUsuario(this.value, this);">
                                    <i class="pencil icon"></i>
                                </button>*@
                            </td>
                            <td style="word-wrap: break-word; background-color: deepskyblue">Nommbre: @listaUsuarios.Nombre</td>
                            <td style="word-wrap: break-word; background-color: deepskyblue">Usuario de ingreso: @listaUsuarios.NombreUsuario</td>
                            @if (listaUsuarios.Administrador == true)
                            {
                                <td style="word-wrap: break-word; background-color: deepskyblue">Administrador: Si</td>
                            }
                            else
                            {
                                <td style="word-wrap: break-word; background-color: deepskyblue">Administrador: No</td>
                            }
                            <td style="word-wrap: break-word; background-color: deepskyblue">Empresa: @listaUsuarios.NombreEmpresa</td>
                            <td style="word-wrap: break-word; background-color: deepskyblue">Establecimiento: @listaUsuarios.NombreEstablecimiento</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="10">
                            <div id="btnAgregarMantenedorNegocio" data-toggle="modal" data-target="#modalMantenedorUsuarios" class="ui green labeled icon button">
                                Agregar usuario
                                <i class="checkmark icon"></i>
                            </div>
                            <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            <div style="margin-left:auto; margin-right:auto;width:80%;opacity:0.9">
                <div class="fields">
                    <div id="btnAgregarMantenedorNegocio" data-toggle="modal" data-target="#modalMantenedorUsuarios" class="ui green labeled icon button">
                        Agregar usuario
                        <i class="checkmark icon"></i>
                    </div>
                    <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                    @*<div id="btnExportar" class="ui labeled purple icon button" onclick="ExportarExcel();">
                            <i class="table download icon"></i>Exportar a Excel
                        </div>*@
                </div>
                <table id="tabla" class="ui celled striped table">
                    <thead>
                        <tr>
                            <th style="width: 130px; word-wrap: break-word; background-color: deepskyblue"></th>
                            <th style="word-wrap: break-word; background-color: deepskyblue">Nombre</th>
                            <th style="word-wrap: break-word; background-color: deepskyblue">Usuario de ingreso</th>
                            <th style="word-wrap: break-word; background-color: deepskyblue">Administrador</th>
                            <th style="word-wrap: break-word; background-color: deepskyblue">Empresa</th>
                            <th style="word-wrap: break-word; background-color: deepskyblue">Establecimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var listaUsuarios in Model.listaUsuarios)
                        {
                            <tr>

                                <td>
                                    <button class="ui icon red button" data-toggle="modal" data-target="#modalEliminarUsuario" value="@listaUsuarios.Id" onclick="PreparaEliminarUsuario(this.value, this);">
                                        <i class="trash icon"></i>
                                    </button>
                                    @*<button class="ui icon green button" data-toggle="modal" data-target="#modalMantenedorUsuarios" value="@listaUsuarios.Id" onclick="ObtenerUsuario(this.value, this);">
                                        <i class="pencil icon"></i>
                                    </button>*@
                                </td>
                                <td>@listaUsuarios.Nombre</td>
                                <td>@listaUsuarios.NombreUsuario</td>
                                @if (listaUsuarios.Administrador == true)
                                {
                                    <td>Si</td>
                                }
                                else
                                {
                                    <td>No</td>
                                }
                                <td>@listaUsuarios.NombreEmpresa</td>
                                <td>@listaUsuarios.NombreEstablecimiento</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="13">
                                <div id="btnAgregarMantenedorNegocio" data-toggle="modal" data-target="#modalMantenedorUsuarios" class="ui green labeled icon button">
                                    Agregar usuario
                                    <i class="checkmark icon"></i>
                                </div>
                                <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
    </div>
    <div class="modal fade" id="modalMantenedorUsuarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="ui center aligned header">
                        <img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">
                        Mantenedor de usuarios
                    </h3>
                </div>
                @*<img class="ui fluid image" src="~/Recursos/Imagenes/LogoEsyser_v2.png" />*@
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al completar los campos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div class="two fields">
                                        <div id="divtxtNombreCompleto" class="field" style="width:100%">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre completo</font></font></label>
                                            <input id="txtNombreCompleto" type="text" placeholder="" autocomplete="off" style="text-transform:uppercase;">
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divcmbEstablecimiento" class="field" style="width:100%">
                                            <label>Establecimiento</label>
                                            <select id="cmbEstablecimiento" name="cmbEstablecimiento" class="ui search selection dropdown">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divcmbEsAdministrador" class="field" style="width:100%">
                                            <label>Es administrador</label>
                                            <div id="cmbEsAdministrador" class="ui search selection dropdown">
                                                <input type="hidden" id="idEsAdministrador" name="idEsAdministrador">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccione</div>
                                                <div id="cmbEsAdministradorMenu" class="menu">
                                                    <div class="item" data-value="True">Si</div>
                                                    <div class="item" data-value="False">No</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divtxtUsuario" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Usuario</font></font></label>
                                            <input id="txtUsuario" type="text" placeholder="" autocomplete="off">
                                        </div>
                                        <div id="divtxtContraseña" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contraseña</font></font></label>
                                            <input id="txtContraseña" type="text" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="user icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>El usuario fue guardado con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardarUsuario" class="ui fluid labeled green icon button" onclick="GuardarUsuario();">
                        <i class="checkmark icon"></i>
                        Guardar
                    </button>
                    <div style="height:5px">

                    </div>
                    <button class="ui fluid labeled red icon button" onclick="window.location.replace('/MantenedorUsuarios')">
                        <i class="left chevron icon"></i>
                        Volver
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Eliminar usuario</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="divConsultaElimina" class="ui icon warning message">
                            <i class="trash icon"></i>
                            <div class="content">
                                <div class="header">
                                    ¿Desea eliminar este usuario?
                                </div>
                                <p>Este usuario sera eliminado de forma lógica desde la base de datos</p>
                            </div>
                        </div>
                        <div id="divExitoElimina" class="ui icon hidden positive  message">
                            <i class="trash icon"></i>
                            <div class="content">
                                <div class="header">
                                    Éxito!!
                                </div>
                                <p>El usuario fue eliminado con éxito.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="btnEliminar" onclick="EliminaUsuario();" class="ui red right labeled icon button">
                            Eliminar usuario
                            <i class="checkmark icon"></i>
                        </div>
                        <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                            Cancelar
                            <i class="cancel icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

<input type="hidden" id="idUsuarioSeleccionado" value="0" />