@model VentaSimpleWeb.Models.LibroVentasModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LibroVentas/LibroVentas.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Libro de ventas</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/CSS/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/semantic.min.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/semantic.min.js"></script>

    <script src="~/ScriptsVistas/LogicaLibroVentas20211227.js"></script>

    <style>
        body {
            width: 100%;
            height: 100%;
            background-image: url();
            background-image: url('../../Recursos/Imagenes/Fondo2.jpg');
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <script>

        var urlObtenerEstablecimientos = '@Url.Action("ObtenerEstablecimientos", "LibroVentas")';
        var urlBusquedaFiltro = '@Url.Action("BusquedaFiltro", "LibroVentas")';
        var urlObtenerPdf = '@Url.Action("ObtenerPdf", "LibroVentas")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });

             ExportarExcel = function () {
                location.href = '@Url.Action("ExportToExcel", "LibroVentas")';
             };
        });

    </script>
</head>
<body>
    <br />
    @if (Request.Browser.IsMobileDevice)
    {

        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:95%; opacity:0.9">
            <h3 class="ui center aligned header">
                <img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">
                Libro de ventas
            </h3>
            <div class="modal-body">
                <div class="image content">
                    <div class="ui info message">
                        <div class="header">
                            Filtro
                        </div>
                        Para lograr una búsqueda efectiva debe seleccionar al menos un filtro.
                        <div class="ui divider"></div>
                        <div class="ui form">
                            <form>
                                <div class="two fields">
                                    <div id="divFiltroDesde" style="width:40%" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha desde</font></font></label>
                                        <input id="txtFiltroDesde" type="date" placeholder="Fecha desde" value=@Session["FiltroInformeDesde"]>
                                    </div>
                                    <div id="divFiltroHasta" style="width:40%" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha Hasta</font></font></label>
                                        <input id="txtFiltroHasta" type="date" placeholder="Fecha hasta" value=@Session["FiltroInformeHasta"]>
                                    </div>
                                </div>
                                @if (SessionH.Usuario.Administrador == true)
                                {
                                    <div class="two fields">
                                        <div id="divcmbFiltroEstablecimiento" class="field">
                                            <label>Establecimiento</label>
                                            <select id="cmbFiltroEstablecimiento" name="cmbFiltroEstablecimiento" class="ui search selection dropdown">
                                            </select>
                                        </div>
                                    </div>
                                }

                            </form>
                        </div>
                    </div>
                </div>
                <button id="btnBuscarFiltro" class="ui fluid labeled blue icon button" onclick="BusquedaFiltro();">
                    <i class="search icon"></i>
                    Buscar
                </button>
            </div>
            <div class="fields">

                <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                <div id="btnExportar" class="ui labeled purple icon button" onclick="ExportarExcel();">Exportar a Excel<i class="table download icon"></i></div>

             

            </div>
            <table id="tabla" class="ui celled striped table">
                <tbody>
                    @foreach (var listaBoletas in Model.listaBoletas)
                    {
                        <tr>
                            <td>N°SII: @listaBoletas.NumeroSII</td>
                            <td>Fecha: @listaBoletas.Fecha.ToShortDateString()</td>
                            <td>Rut: @listaBoletas.Rut</td>
                            <td>Razón social: @listaBoletas.Contribuyente</td>
                            <td>Glosa: @listaBoletas.Glosa</td>
                            <td>Total: $@listaBoletas.Total</td>
                            <td>Usuario: @listaBoletas.Usuario</td>
                            <td>Establecimiento: @listaBoletas.Sucursal</td>
                            <td>Tipo de pago: @listaBoletas.TipoPago</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="15">
                            <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:95%; opacity:0.9">
            <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:60%">
                <div class="ui icon warning message">
                    <i class="search icon"></i>
                    <div class="content">
                        <div class="header">
                            Filtro
                        </div>
                        <p>Para lograr una búsqueda efectiva debe seleccionar al menos un filtro.</p>
                    </div>
                </div>
                <table border="0">
                    <tr>
                        <td><label>Fecha desde</label></td>
                        <td style="width:5px"></td>
                        <td>
                            <div class="ui calendar" id="divFiltroDesde">
                                <div class="ui input left icon">
                                    <input id="txtFiltroDesde" type="date" placeholder="Fecha desde" value=@Session["FiltroInformeDesde"]>
                                </div>
                            </div>
                        </td>
                        <td style="width:5px"></td>
                        <td><label>Fecha Hasta</label></td>
                        <td style="width:5px"></td>
                        <td><div class="ui input"><input id="txtFiltroHasta" type="date" placeholder="Fecha hasta" value=@Session["FiltroInformeHasta"]></div></td>
                        <td style="width:5px"></td>
                        <td>
                            <div id="btnBuscarFiltro" style="width:170px" class="ui blue right labeled icon button" onclick="BusquedaFiltro();">
                                Buscar
                                <i class="search icon"></i>
                            </div>
                        </td>
                    </tr>
                    @if (SessionH.Usuario.Administrador == true)
                    {
                        <tr>
                            <td><label>Establecimiento</label></td>
                            <td style="width:5px"></td>
                            <td id="tdFiltroEstablecimiento" colspan="6">
                                <select id="cmbFiltroEstablecimiento" class="ui search fluid selection dropdown"></select>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="fields">

                <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                <div id="btnExportar" class="ui labeled purple icon button" onclick="ExportarExcel();">Exportar a Excel<i class="table download icon"></i></div>
            </div>
            <table id="tabla" class="ui celled striped table">
                <thead>
                    <tr>
                        <th style="word-wrap: break-word; background-color: deepskyblue"></th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">N°SII</th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">Fecha</th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">Rut</th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">Razón social</th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">Glosa</th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">Total</th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">Usuario</th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">Establecimiento</th>
                        <th style="word-wrap: break-word; background-color: deepskyblue">Tipo de pago</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listaBoletas in Model.listaBoletas)
                    {
                        <tr>
                            <td>
                                <button class="ui icon green button" value="@listaBoletas.NumeroSII" onclick="ObtenerPdf(this.value, this);">
                                    <i class="eye icon"></i>
                                </button>
                            </td>
                            <td>@listaBoletas.NumeroSII</td>
                            <td>@listaBoletas.Fecha.ToShortDateString()</td>
                            <td>@listaBoletas.Rut</td>
                            <td>@listaBoletas.Contribuyente</td>
                            <td>@listaBoletas.Glosa</td>
                            <td>$@listaBoletas.Total</td>
                            <td>@listaBoletas.Usuario</td>
                            <td>@listaBoletas.Sucursal</td>
                            <td>@listaBoletas.TipoPago</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="15">
                            <div class="ui icon red button" onclick="window.location.replace('/Home')">Volver<i class="left chevron icon"></i></div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</body>
</html>

<input type="hidden" id="Boleta" value="0" />